@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shams-blue: #263C98;
  --shams-yellow: #FCCE22;
  --shams-green: #24D366;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shams-blue: var(--shams-blue);
  --color-shams-yellow: var(--shams-yellow);
  --color-shams-green: var(--shams-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
